services:
  db:
    image: postgres:14
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d   # database bootstrapping
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped
    networks:
      - back

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    #ports:
    #  - "8000:${BIND_PORT}"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      # catalog data volume 
      - catalog_data:/app/catalog_files
      # static & media persisted on host
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    restart: unless-stopped
    networks:
      - back
      - front

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./staticfiles:/staticfiles:ro
      - ./media:/media:ro
    depends_on:
      - backend
    networks:
      - front
    restart: unless-stopped

volumes:  
  postgres_data:
  catalog_data:
networks:
  back:
  front:

